{% extends './common/layout.html.twig' %}

{% block content %}
    <h1>Editar Imagen</h1>
    <form action="/editImage/{{ img.iid }}" class="mb-3 needs-validation" novalidate method="POST" enctype="multipart/form-data">
    
        <img src="/imgIid/{{ img.iid }}" width="500" height="500" class="card-img-top mb-3" alt="Imagen de {{ img.titulo }}">

        <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" class="form-control" id="titulo" name="titulo" value="{{ img.titulo }}" required >
            <div class="invalid-feedback">
                El título es necesario.
            </div>
        </div>

        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea class="form-control" id="descripcion" name="descripcion" rows="4" required>{{ img.descripcion }}</textarea>
            <div class="invalid-feedback">
                La descripción es necesaria.
            </div>
        </div>

        <div class="mb-3">
            <label for="fichero" class="form-label">Imagen</label>
            <input type="file" class="form-control" id="fichero" name="fichero" accept=".png, .jpg, .jpeg, .gif">
            <div class="invalid-feedback">
                El fichero debe ser una imagen (.png, .jpg, .jpeg, .gif).
            </div>
        </div>

        <div class="mb-3">
            <label for="latitud" class="form-label">Latitud</label>
            <input type="text" class="form-control" id="latitud" name="latitud" value="{{ img.latitud }}"  required>
            <div class="invalid-feedback">
                La latitud es necesaria.
            </div>
        </div>

        <div class="mb-3">
            <label for="longitud" class="form-label">Longitud</label>
            <input type="text" class="form-control" id="longitud" name="longitud" value="{{ img.longitud }}" required>
            <div class="invalid-feedback">
                La longitud es necesaria.
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <script src='/dist/bostrapValidation.js'></script>
{% endblock %}
